<!DOCTYPE html>
<html>
  <head>
    <title>Garage Door Opener</title>
    <style>
      button {
        display: block;
        margin: 0 auto;
        font-size: 5rem;
        padding: 16px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.5s ease-in-out;
	width: 100%;
	height: 40rem;

      }
      button.pressed {
        background-color: #F44336;
      }
    </style>
  </head>
  <body>
    <form id="garage-door-form" method="post" action="/garage">
      <input type="hidden" name="garage-door" value="open">
      <button id="garage-door-button">Garage Door</button>
    </form>
    <img src="/snapshot">

    <script>
      var garageDoorButton = document.getElementById('garage-door-button');
      var garageDoorForm = document.getElementById('garage-door-form');
      garageDoorButton.addEventListener('click', function() {
        garageDoorButton.classList.add('pressed');
        garageDoorForm.submit();
        setTimeout(function() {
          garageDoorButton.classList.remove('pressed');
        }, 1000);
      });
    </script>
  </body>
</html>
